.Details {
}
.Details .Img_Download img {
    border: 5px solid var(--mainWhite);
    width: 100%;
    border-radius: 5px;
}
.Details .Name, .NameLgScreen{
    color: var(--mainWhite)
}
.Details .Name, .NameLgScreen * {
    margin-bottom: 15px;
}
.Details .NameLgScreen {
    display: none;
}
.Details .NameLgScreen i, span {
    font-size: 18px;
}
.Details .NameLgScreen a, .Name a {
    margin-left: 10px;
    padding: 6px;
    background-color: var(--mainDark);
    border: 1px solid var(--mainGray);
    color: var(--mainWhite);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.Details .NameLgScreen a:hover {
    background-color: var(--lightDark);
}


@media(min-width: 600px) {
    .Details .Name{
        display: none;
    }
    .Details .NameLgScreen {
        display: inline-block;
    }
}