.Modal {
    position: fixed;
    z-index: 500;
    background-color: rgba(205, 216, 216, 0.952);
    color: var(--darkGreen);
    width: 70%;
    box-shadow: 1px 1px 12px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}