.Card{
    border: 3px solid var(--darkWhite);
    transition: .5s ease;
    cursor: pointer;
}
.Card:hover {
    border-color: var(--mainGreen);
    border-width: 3px;
}
.Card img{
    height: 300px;
}