.Color {
    padding: 0;
    background-color: var(--lightDark) !important;
    border: 1px solid var(--mainGray)
}
.Brand{
    color: var(--mainGreen);
}
.Span{
    color: var(--darkWhite);
    font-size: 18px;
}

 @media (max-width: 500px) {
    .Span {
        display: none;
    }
 }